<header class="w-full bg-stone-900 text-white">
  <div class="container-7xl py-3 flex items-center gap-4">
    <a routerLink="/" class="font-extrabold tracking-wide text-xl">
      CATEDRAL <span class="font-light">PERFUMES</span>
    </a>

    <div class="flex-1"></div>

    <input
      class="rounded px-3 py-2 text-stone-900 w-64"
      placeholder="Buscar perfumes..."
      type="search"
      />

    <nav class="flex items-center gap-3 text-sm">
      <a routerLink="/auth/login" class="underline">Ingresar</a>
      <a routerLink="/auth/register" class="underline">Registrarse</a>
    </nav>
  </div>
</header>
